@charset "UTF-8";

body {

    background-image: linear-gradient(to right, yellow, purple);
}

h1 {

    text-align: center;
}

.tabuada {

    text-align: center;
}

section {

    background-color: white;
    width: 500px;
    height: 350px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    margin: auto;
}

select {

    width: 400px;
    height: 270px;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}

select:hover {

    background-color: beige;
}

div#res {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

option {

    color: blue;
}

footer {

    text-align: center;
}